<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>
<table border="2">
  <% @articles.each do |a| %>
  <tr>
    <td><%= a.title %></td>
    <td><%= a.content %></td>
    <td><%= link_to 'edit', edit_article_path(a) %></td>
    <td><%= link_to 'pokaż', article_path(a) %></td>
    <td><%= link_to 'usuń', article_path(a), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>